In [7]:
#Import dependencies and setup data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import requests
import time
#import API key if needed

In [10]:
#Files to Load
#temp_data_to_load = ".../_data.csv"

obesity_data_to_load = "resources/obesity.csv"
obesity_data_pd = pd.read_csv(obesity_data_to_load)
obesity_data_pd.head()

           State   AdultObesity rate
0        Arkansas                35.9
1  West Virginia                 35.7
2     Mississippi                35.5
3       Louisiana                34.9
4          Aabama                33.5

In [11]:
#Describe does not work on this
obesity_data_pd.describe()

       AdultObesity rate
count           51.000000
mean            29.225490
std              3.416773
min             21.300000
25%             27.150000
50%             29.600000
75%             31.250000
max             35.900000

In [12]:
#To use Loc to list headers: dataframe.columns
obesity_data_pd.columns

Index(['State ', 'AdultObesity rate '], dtype='object')

In [13]:
###Dont need to slice data columns for Obesity data
#Select columns for merge
#selected = ["", "", ""]
#selected_df = data_file_pd[selected]
#selected_df.head()
#selected = ['LocationAbbr', 'Data_Value']
#selected_df = heart_data_pd[selected]
#selected_df.head()